break_around_macro:             begin, end, \[, \], newpage, pagebreak, noindent, medskip, smallskip, bigskip
break_after_macro:              newline, linebreak, \\, part, section, subsection, subsubsection, paragraph, label
break_before_macro:             item
remove_newlines:                true
break_after_sentences:          true
begin_protect:                  .*\\begin\{(verbatim|listing|algorithm)\}.*
end_protect:                    .*\\end\{(verbatim|listing|algorithm)\}.*
begin_protect_sentences:        .*((\\\[)|(\\begin\{((equation\*?)|(align\*?)|(eqnarray\*?)|(multline\*?)|(gather\*?)|(flalign\*?)|(alignat\*?))\})).*
end_protect_sentences:          .*((\\\])|(\\end\{((equation\*?)|(align\*?)|(eqnarray\*?)|(multline\*?)|(gather\*?)|(flalign\*?)|(alignat\*?))\})).*
line_ends:                      ., !, ?, :
begin_protect_sentences_inline: \$|\\\(
end_protect_sentences_inline:   \$|\\\(
protect_break_after:            .*(\{|\})
protect_break_before:           (\{|\}).*
